main{
    width: 100%;
    min-height: calc(100vh - 150px - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.gray-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
    background-color: var(--back-gray);
}

.gray-text-content{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.text-bold{
    font-weight: bold;
}

.gray-div{
    background-color: var(--back-gray);
}

.next-img{
    width: 15px;
    height: 15px;
}

@media only screen and (max-width: 1350px) {
    .main-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .gray-text-content{
        width: 90%;
        padding: 20px 0px;
    }
}