.tutorial-content{
    width: 1300px;
    display: flex;
    padding: 20px 0px;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.side-bar-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px - 70px - 140px);
    background-color: var(--back-red);
    overflow: auto;
}

.tutorial-content-div{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.tutorial-title-nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tut-button{
    width: 150px;
    padding: 10px 0px;
    margin: 0px 10px;
    border: none;
    border-radius: 10px;
    background-color: #c5c3c3 ;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.nav-tut-button:hover{
    background-color: #D9D9D9;
}

.next-btn{
    background-color: var(--back-red);
}

.next-btn:hover{
    background-color: var(--selected-red);
}

.disabled-btn{
   opacity: 0.5;
   cursor: auto;
   background-color: #D9D9D9;
}

.disabled-btn-next{
    opacity: 0.5;
   cursor: auto;
   background-color: var(--selected-red);
}

.nav-tut-button > img{
    width: 15px;
}

.img-logo-div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo-img-sidebar{
    width: 200px;
    height: min-content;
}

.sidebar-heading-div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-red);
    cursor: pointer;
    color: white;
}

.sidebar-heading-div:hover{
    background-color: var(--selected-red);
    color: black;
}

.sidebar-heading-div > p{
    font-weight: bold;
    font-size: medium;
}

.sidebar-heading-div-selected{
    background-color: var(--selected-red);
    color: black;
}

.back-button-div{
    width: 100%;
    background-color: var(--selected-red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

.back-button-div > img{
    width: 15px;
}

.tutorial-a{
    width: 100%;
}

.video-guide-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 20px;
}

.video-div{
    width: 800px;
    height: 400px;
}

.video-frame{
    width: 100%;
    height: 100%;
    
    border: none;
}

.pros-cons-table{
    width: 60%;
}

.pros-cons-table, .pros-cons-table > tbody > tr > td{
    border: 2px solid white;
    border-collapse: collapse;
}

.pros-th{
    background-color: #89D76C;
}

.pros-table{
    border-color: #89D76C;
}

.cons-table{
    border-color: #ED7070;
}

.cons-th{
    background-color: #ED7070;  
}

.pros-cons-table > tbody > tr > td,.pros-th, .cons-th{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pros-cons-img{
    width: 10px;
}

.pro-con-p{
    width: 80%;
}

.guide-p{
    width: 80%;
}

.sidebar-menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-red);
    cursor: pointer;
    color: white;
    gap: 20px;
    font-weight: bold;
}

.sidebar-menu > img{
    width: 20px;
}

@media only screen and (max-width: 1300px) {
    .tutorial-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .sidebar-container{
        width: 100%;
    }
    .side-bar-div{
        height: auto;
        position: absolute;
        top: 330px;
        z-index: 2;
    }
    .tutorial-content-div{
        width: 100%;
    }
    .nav-tut-button{
        width: fit-content;
        padding: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .pros-cons-table{
        width: 80%;
    }

    .video-div{
        width: 600px;
        height: 300px;
    }
}

@media only screen and (max-width: 650px) {
    .video-div{
        width: 350px;
        height: 200px;
    }
}